In [2]:
import pandas as pd

In [ ]:
data = pd.read_csv('./Data/Raw_Pizza.csv')

In [4]:
data.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,discount,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,total_cost
0,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,0.20,10.60,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,8.34
1,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,0.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,14.93
2,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,0.00,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,14.98
3,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,0.45,11.41,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,8.79
4,2,mexicana_m,1,1/1/2015,11:57:40,16.00,0.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,13.72

In [5]:
# Sao chép dữ liệu để làm sạch
df_cleaned = data.copy()

# Chuyển đổi kiểu dữ liệu
df_cleaned["order_date"] = pd.to_datetime(df_cleaned["order_date"], errors='coerce')
df_cleaned["order_time"] = pd.to_datetime(df_cleaned["order_time"], format="%H:%M:%S", errors='coerce').dt.time

# Loại bỏ khoảng trắng dư thừa và chuẩn hóa chữ thường
df_cleaned["pizza_category"] = df_cleaned["pizza_category"].str.strip().str.title()
df_cleaned["pizza_size"] = df_cleaned["pizza_size"].str.strip().str.upper()
df_cleaned["pizza_name"] = df_cleaned["pizza_name"].str.strip().str.title()



# Chuyển đổi các cột số về dạng số
numeric_columns = ["quantity", "unit_price", "discount", "total_price", "total_cost"]
df_cleaned[numeric_columns] = df_cleaned[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Lưu file sạch
cleaned_file_path = "Pizza_Cleaned.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)

In [15]:
df=pd.read_csv("Pizza_Cleaned.csv")

In [16]:
df.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,discount,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,total_cost
0,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,0.20,10.60,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,8.34
1,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,0.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,14.93
2,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,0.00,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,14.98
3,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,0.45,11.41,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,8.79
4,2,mexicana_m,1,2015-01-01,11:57:40,16.00,0.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,13.72

In [17]:
import numpy as np
from datetime import date, timedelta

# Hàm xác định ngày lễ linh hoạt (các ngày thứ hai, thứ năm cố định)
def get_holiday_dates(year):
    holidays = {
        "New Year's Day": date(year, 1, 1),
        "Martin Luther King Jr. Day": date(year, 1, 1) + timedelta(days=(14 + (7 - date(year, 1, 1).weekday()) % 7)),  # Third Monday of January
        "Presidents' Day": date(year, 2, 1) + timedelta(days=(14 + (7 - date(year, 2, 1).weekday()) % 7)),  # Third Monday of February
        "Memorial Day": date(year, 5, 31) - timedelta(days=date(year, 5, 31).weekday()),  # Last Monday of May
        "Independence Day": date(year, 7, 4),
        "Labor Day": date(year, 9, 1) + timedelta(days=(7 - date(year, 9, 1).weekday()) % 7),  # First Monday of September
        "Columbus Day": date(year, 10, 1) + timedelta(days=(7 + (7 - date(year, 10, 1).weekday()) % 7)),  # Second Monday of October
        "Veterans Day": date(year, 11, 11),
        "Thanksgiving Day": date(year, 11, 1) + timedelta(days=(21 + (3 - date(year, 11, 1).weekday()) % 7)),  # Fourth Thursday of November
        "Christmas Day": date(year, 12, 25)
    }

    # Điều chỉnh ngày lễ rơi vào cuối tuần
    adjusted_holidays = []
    for name, d in holidays.items():
        if d.weekday() == 5:  # Nếu rơi vào thứ Bảy, nghỉ vào thứ Sáu trước đó
            adjusted_holidays.append(d - timedelta(days=1))
        elif d.weekday() == 6:  # Nếu rơi vào Chủ Nhật, nghỉ vào thứ Hai sau đó
            adjusted_holidays.append(d + timedelta(days=1))
        else:
            adjusted_holidays.append(d)
    
    return adjusted_holidays

# Tạo danh sách ngày lễ cho tất cả các năm trong dữ liệu
years = df_cleaned["order_date"].dt.year.unique()
us_holidays = {holiday for year in years for holiday in get_holiday_dates(year)}

# Cập nhật cột is_holiday với các ngày lễ chính thức của Mỹ, đánh số 1 nếu là ngày lễ, 0 nếu không
df_cleaned["is_holiday"] = np.where(df_cleaned["order_date"].dt.date.isin(us_holidays) | (df_cleaned["order_date"].dt.weekday >= 5), 1, 0)

In [15]:
# Đọc lại tệp gốc vì môi trường đã được reset
import pandas as pd

# Chuyển đổi kiểu dữ liệu
df_cleaned["order_date"] = pd.to_datetime(df_cleaned["order_date"], errors='coerce')
df_cleaned["order_time"] = pd.to_datetime(df_cleaned["order_time"], format="%H:%M:%S", errors='coerce').dt.time

# Xử lý giá trị NaT trong order_time bằng cách thay thế bằng giá trị mặc định (06:00:00)
df_cleaned["order_time"] = df_cleaned["order_time"].fillna(pd.to_datetime("06:00:00").time())

# Chia khung giờ trong ngày thành 4 khoảng thời gian
def get_time_period(time):
    if time >= pd.to_datetime("06:00:00").time() and time < pd.to_datetime("12:00:00").time():
        return 1  # Sáng
    elif time >= pd.to_datetime("12:00:00").time() and time < pd.to_datetime("18:00:00").time():
        return 2  # Trưa
    elif time >= pd.to_datetime("18:00:00").time() and time < pd.to_datetime("00:00:00").time():
        return 3  # Tối
    else:
        return 4  # Đêm

# Áp dụng hàm để tạo cột time_period
df_cleaned["time_period"] = df_cleaned["order_time"].apply(get_time_period)

In [20]:
df_cleaned.head()

,order_id,pizza_id,quantity,order_date,order_time,unit_price,discount,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,total_cost,is_holiday,time_period
0,1,hawaiian_m,1,2015-01-01,06:00:00,13.25,0.20,10.60,2,1,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,8.34,1,1
1,2,classic_dlx_m,1,2015-01-01,06:00:00,16.00,0.00,16.00,2,1,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,14.93,1,1
2,2,five_cheese_l,1,2015-01-01,06:00:00,18.50,0.00,18.50,3,2,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,14.98,1,1
3,2,ital_supr_l,1,2015-01-01,06:00:00,20.75,0.45,11.41,3,3,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,8.79,1,1
4,2,mexicana_m,1,2015-01-01,06:00:00,16.00,0.00,16.00,2,2,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,13.72,1,1

In [19]:
# Chuyển đổi cột pizza_size về dạng số (Mapping theo kích thước)
size_mapping = {
    "S": 1,  # Small
    "M": 2,  # Medium
    "L": 3,  # Large
    "XL": 4, # Extra Large
    "XXL": 5 # Double Extra Large
}
df_cleaned["pizza_size"] = df_cleaned["pizza_size"].map(size_mapping)

# Chuyển đổi cột pizza_category về dạng số (Mapping theo loại pizza)
category_mapping = {category: idx for idx, category in enumerate(df_cleaned["pizza_category"].unique(), start=1)}
df_cleaned["pizza_category"] = df_cleaned["pizza_category"].map(category_mapping)

In [21]:
# Lưu file sạch
cleaned_file_path = "Pizza_Cleaned.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)